doctype html
html(lang="en")
  head
    title= Rapper
  body
    p Ex. 1 http://localhost:3000/pokemon?id=Mew
    p Ex. 2 http://localhost:3000/pokemon?id=Dragonite
    p Ex. 3 http://localhost:3000/pokemon?id=Jigglypuff